*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
}
*{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
h1{
    margin: 0 0 8px 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 40px;
}
h3{
    margin: 0 0 8px 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 28px;
}
h5{
    margin: 0 0 8px 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
}
p{
    margin: 0 0 16px 0;
    font-size: clamp(11px, 4vw, 16px)
}
button{
    line-height: 1.5;
    font-size: 16px;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.agreementOfPolicy{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: clamp(20px, 6vw, 140px);
    row-gap: 20px;
    background-color: #e5e5e5;
    padding: 30px;
}
.agreementOfPolicy:has(input:checked){
    font-size: 0;
    padding: 0;
    transform: translateY(-100%);
    transition-timing-function: cubic-bezier(0.08, 0.82, 0.76, .72);
    transition-duration: 700ms;
}
.agreementOfPolicyButton:has(input:checked){
    zoom: 0.001;
}
.agreementOfPolicyContent{
    max-width: 556px;
}
.agreementOfPolicyContent>a{
    color: #0d6efd;
}
.agreementOfPolicyContent>a:hover, .agreementOfPolicyContent>a:active{
    color: #007bc1;
}
.agreementOfPolicyContent>a:hover, .agreementOfPolicyContent>a{
    text-decoration: none;
}
.agreementOfPolicyButton>input{
    display: none;
}
.agreementOfPolicyButton>label{
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #007bc1;
    color: #ffffff;
    padding: 10px 18px;
    cursor: pointer;
}
.agreementOfPolicyButton>label:hover{
    background-color: #004a75;
}

.bannerBackground::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #002675bf;
    width: 100%;
    height: 100%;
}
.bannerBackground::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(assets/work-desk__dustin-lee.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter:  brightness(86%) contrast(1.5) saturate(0) opacity(100%);
}
.banner{
    position: relative;
    height: 700px;
}

.bannerForground{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 40px;
    color: #ffffff;
    display: grid;
}
.bannerForgroundImage>img{
    width: 45px;
}
.bannerForgroundContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.bannerForgroundContent>button{
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    min-width: fit-content;
    border: 2px solid #ffffff;
    padding: 4px 12px;
}
.bannerForgroundContent>button:hover{
    color: #004a75;
    background-color: #ffffff;
}
.highlightsPanel{
    padding: 60px 0 60px 0;
    background-color: #e5e5e5;
}
.highlightsPanelHeader{
    padding: 0 20px 60px 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.highlightsPanelHeader>p{
    max-width: 556px;
}
.highlightsPanelContent{
    display: grid;
    grid-template-areas: '3 3 3';
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}

.highlightsPanelContentBlock{
    position: relative;
    outline: 1px solid #cecece;
    padding: 12px 20px 2px 20px;
    box-shadow: 0 0 2px 2px #ffffff;
}
.highlightsPanelContentBlock>img{
    width: 24px;
    position: absolute;
    right: 12px;
    filter: opacity(40%);
}
.pageFooter{
    background-color: #040325;
    color: #8689af;
    text-align: center;
    padding: 40px 0 40px 0;
}
.newsletterPanel{
    position: fixed;
    left: 0;
    background-color: #007bc1ed;
    color: #ffffff;
    padding: 30px;
    max-width: 640px;
    max-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: -340px;
}
.newsletterPanelAnimate{
    bottom: 212px;
    transition-timing-function: cubic-bezier(0.44, -0.06, 0.47, 1);
    transition-duration: 500ms;
    transform: translateY(100%); 
}
.newsletterPanel>span{
    color: #ffffff;
    position: absolute;
    top: 2px;
    right: 8px;
    padding: 0px 8px;
    cursor: pointer;
}
.newsletterPanel>span:hover{
    text-shadow: 0 0 5px black;
}
.newsletterPanelForm{
    display: flex;
    gap: 10px;
}
.newsletterPanelForm>input{
    flex-grow: 1;
    padding: 4px 12px;
    color: #004a75;
    border: none;
    outline: none;
    border-radius: 4px;
}
.newsletterPanelForm>input:focus{
    color: #004a75;
}
.newsletterPanelForm>button{
    background-color: #ff8000;
    color: #e5e5e5;
    min-width: fit-content;
    border: none;
    padding: 4px 12px;
}
.newsletterPanelForm>button:hover{
    background-color: #cc6600;
    color: #ffffff;
}
.closePopUp{
    transition-timing-function: cubic-bezier(0.44, -0.06, 0.55, 1.43);
    transition-duration: 1000ms;
    transform: translateY(100%);
}
.destroyPopUp{
    display: none !important;
}
.NotificationClose{
   display: none;
}
@media screen and (min-width: 960px){
    .highlightsPanelContent{
        grid-template-areas: '3 3 3';
    }
    .newsletterPanelAnimate{
        bottom: 212px;
        height: 212px;
    }
}
@media screen and (max-width: 960px){
    .highlightsPanelContent{
        grid-template-areas: '2 2';
    }
    .newsletterPanelAnimate{
        bottom: 236px;
        height: 236px;
    }
}
@media screen and (max-width: 480px){
    .agreementOfPolicy{
        display: grid;
        grid-template-areas: '1';
    }
    .highlightsPanelContent{
        grid-template-areas: '1';
    }
    .newsletterPanelForm{
        display: grid;
        grid-template-areas: '1';
    }
    .newsletterPanelAnimate{
        bottom: 290px;
        height: 290px;
    }
}